<!DOCTYPE html>
<html>
	<head>
		<title>自组网网管系统</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<script src="js/angular.min.js"></script>
		<!-- bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet" />			
		<!-- global styles -->
		<link rel="stylesheet" type="text/css" href="css/layout.css" />	
		<!-- bootstrap table css -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap-table.css" />	
	</head>
	
	<body>
		<!-- navbar -->
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-inner">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">无基站自组网网管系统</a>
					</div>
					<!-- <ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" ng-bind="username"></a>
						</li>
						<li ng-hide="isLogin">
							<a href="login.html"></a>
						</li>
						<li>
							<a href="#" onclick="logout()">注销</a>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
		<!-- end navbar -->

		<!-- sidebar -->
		<div id="sidebar-nav">
			<ul id="dashboard-menu">
				<li  class="active">
					<a href="home"> 
					 <div class="pointer">
						<div class="arrow"></div>
						<div class="arrow_border"></div>
					 </div>
					<span>基本信息</span>
					</a>
				</li>
				<li>
					<a href="adhoctables">
						 <span>组网显示</span>
					</a>
				</li>
				<li>
					<a href="shiptables">
					 	<span>船站显示</span>
					</a>
				</li>		
				<li>
					<a href="map"> 
						<span>地图显示</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- end sidebar -->

		<!-- main container -->
		<div class="content" style="height: 100%">

			<div class="container-fluid">
				<div id="pad-wrapper">
					<!-- products table-->
					<!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
					<div class="table-wrapper products-table section">
						<div class="row-fluid head">
							<div class="span12">
								<h4>基本信息</h4>
							</div>
						</div>
					    <div class="row-fluid">		
					    	<div class="col-md-12" style="margin-top:10px">
					    		<div class="col-md-6">
							        <span class="home-title col-sm-6 col-md-4"><strong>船站编号：</strong></span> <span class="col-sm-6 col-md-8" id="shipCode"></span>
						        </div>
							    <div class="col-md-6">
								<span class="home-title col-sm-6 col-md-4"><strong>AIS纬度：</strong></span> <span class="col-sm-6 col-md-8" id="aislat"></span>
							    </div>
				           </div>
				          <div class="col-md-12">
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>船站名称：</strong></span> <span class="col-sm-6 col-md-8" id="shipName"></span>
								</div>
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>AIS经度：</strong></span> <span class="col-sm-6 col-md-8" id="aislng"></span>
								</div>
						 </div>
						 <div class="col-md-12">
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>船站端口：</strong></span> <span class="col-sm-6 col-md-8" id="shipPort"></span>
								</div>
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>GPS纬度：</strong></span> <span class="col-sm-6 col-md-8" id="gpslat"></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>IP地址：</strong></span> <span class="col-sm-6 col-md-8" id="shipIp"></span>
								</div>
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>GPS经度：</strong></span> <span class="col-sm-6 col-md-8" id="gpslng"></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>MMSI：</strong></span><span class="col-sm-6 col-md-8" id="shipMmsi"></span>
								</div> 
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>安装日期：</strong></span> <span class="col-sm-6 col-md-8" id="installDate"></span>
								</div>						       
					    	</div>		         
							<div class="col-md-12">
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>状态：</strong></span><span class="col-sm-6 col-md-8" id="shipStatus"></span>
								</div> 
								<div class="col-md-6">
									<span class="home-title col-sm-6 col-md-4"><strong>安装高度：</strong></span> <span class="col-sm-6 col-md-8" id="installHeight"></span>
								</div>						       
					    	</div>		         
					    </div>					    				
				    </div>				    				    
	          </div>						
		   </div>	
		   <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="99%" color=#987cb9 SIZE=1>
		          <div>
						
						<div class="row-fluid head" style="margin-top:20px;margin-left:60px">
							<div class="span12">
								<h4>天线信息</h4>
							</div>
						</div>
						<div class="row-fluid" style="margin-top:20px;margin-left:60px">	
							<div id="antenna" style="margin: 12px 10px">
	   		                     <table id="antennatable"></table>
	   		                 </div>							   						
						</div>  
		         </div>	   				   		   
		  </div>	
 	
		<!-- scripts -->
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script src="js/bootstrap-table.js"></script>
		<script src="js/bootstrap-table-zh-CN.js"></script>	           
		<script>
		   $(document).ready(function() {
			   
			    $.ajax({
			    	type : "POST",
			 		url : "./queryData",	
			 		data : "",
			 		contentType : "application/json;charset=utf-8",
			 		timeout : 5000,
			 		dataType : "json",
			 		success : function(data) {
			 			//alert(1);
			 			console.log(data);
			 		}	 		
			     });
		   });
		</script>
	</body>
</html>